ELASTICSEARCH_CLUSTER=elasticsearch
ELASTICSEARCH_HOST=172.17.0.2
ELASTICSEARCH_INDEX_NAME=lov
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_INSTANCE=bdo
LANGUAGES_FILE_PATH=http://www.lingvoj.org/data.ttl
LOV_DATASET_URI=http://localhost:3333/dataset/bdo
LOV_ENDPOINT=http://localhost:3030/bigdataocean/query
LOV_NQ_FILE_PATH=/BDO/lov/public/lov.nq
LOV_RDF_FILE_PATH=/BDO/lov/public/lov.n3
LOV_N3_FILE_PATH=/BDO/lov/public/lov.n3
METRICS_FILE_PATH=/BDO/lov/public/lov.n3
VERSIONS_DIR_PATH=/BDO/lov/public/versions
VERSIONS_TEMP_PATH=/BDO/lov/public/versions/temp
